torch
numpy
pandas
scikit-learn
requests
google-auth
google-auth-oauthlib
google-api-python-client
pytest
pytest-cov
nltk
fastapi
uvicorn
python-multipart
PyYAML
python-dotenv
matplotlib
ipykernel
jupyter
